.shopping-form {
    margin: 40px auto;
    border: 2px solid rgb(0, 71, 171);
    background-color: #111111;
    padding: 1rem 2rem 1rem 2rem;
    text-align: left;
    min-width: 250px;
    max-width: 650px;
}

.center {
    align-items: center;
    text-align: center;
}

.margin-bottom {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-right: 7px;
}

Button { 
    margin-left: 20px;
    min-width: 100px;
}

Input {
    min-width: 200px;
}