ul {
    list-style-type: none;
    padding: 0;
}


ul li {
    margin-bottom: 15px;
}

Button {
    margin: 5px;
    text-align: right;
    
}

.shopping-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    max-width: 650px;
    border:2px solid rgb(0, 71, 171);
    padding: 15px;
}

.shopping-item {
    border-bottom: 1px solid rgb(155, 155, 155);
    padding-bottom: 5px;
}

.flex-row {
    display: flex;
    padding-left: 5px;
    min-width: 200px;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

@media screen and (max-width: 372px) {
    .flex-row {
        display: block;
        padding-left: 0;
    }
}