ul {
    list-style-type: none;
    padding: 0;
}


ul li {
    margin-bottom: 15px;
}

Button {
    margin: 5px;
    text-align: right;
    
}

.shopping-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    max-width: 650px;
    border:4px solid #03DAC6;
    padding: 15px;
}

.shopping-item {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}

.flex-row {
    display: flex;
    padding-left: 5px;
    min-width: 200px;
    word-wrap: break-word;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.warning {
    background-color: #BB85FC;
}

.danger {
    background-color: #CF6679;
}

@media screen and (max-width: 500px) {
    .flex-row {
        display: block;
        padding-left: 0;
        text-align: left;
    
    }
}